<header class="fixed top-0 z-50 w-full bg-white shadow-md border-b">
    <div class="container mx-auto flex items-center justify-between p-4 max-w-screen-2xl">
        <!-- Logo -->
        <a routerLink="/" class="flex items-center">
            <img src="/images/logo.png" alt="App Logo" class="h-16">
        </a>

        <!-- Navigation -->
        <nav class="hidden md:flex gap-6 uppercase text-lg font-semibold">
            <a href="#" class="hover:text-blue-600 transition">Home</a>
            <a href="#" class="hover:text-blue-600 transition">Shop</a>
            <a href="#" class="hover:text-blue-600 transition">Contact</a>
        </nav>

        <!-- Shopping Cart with Badge -->
        <div class="flex gap-3 items-center">
            <a href="#" class="relative flex items-center custom-badge mt-1">
                <mat-icon class="text-3xl md:text-4xl">shopping_cart</mat-icon>
                <span
                    class="absolute -top-3 left-1/2 transform -translate-x-1/2 bg-blue-800 text-white text-xs font-bold w-5 h-5 flex items-center justify-center rounded-full">
                    5
                </span>
            </a>
            <button class="border border-gray-300 px-4 py-2 rounded-md hover:bg-gray-100 transition">Login</button>
            <button class="bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700 transition">Register</button>
        </div>


        <!-- Mobile Menu Button -->
        <button class="md:hidden text-3xl">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
</header>
